<mat-drawer-container class="example-container" autosize>
    <div class="container" style="margin-bottom: 50px;">
        <div class="p-4">
            <div class="row">
                <h3 class="fst-italic" style="text-align: right; padding-right: 20px;">Mã hóa đơn: 1142</h3>
                <h3 class="fst-italic" style="text-align: right; padding-right: 20px;">Ngày lập: {{date}}</h3>
                <h1 style="text-align: center; font-weight: bold;">Hóa đơn chi tiết</h1>
            </div>
            <div class="d-grid gap-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Hình sản phẩm</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipment of cart; let i=index">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                <img src="{{equipment.photo}}"
                                    alt="">
                            </td>
                            <td>{{equipment.name}}</td>
                            <td>{{equipment.numberOf}}</td>
                            <td>{{equipment.price}}</td>
                            <td>{{equipment.price * equipment.numberOf}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2"></th>
                            <th style="color: red; font-weight: bold;">Tổng</th>
                            <td style="color: red; font-weight: bold;">{{totalNumberOf}}</td>
                            <td style="color: red; font-weight: bold;"></td>
                            <td style="color: red; font-weight: bold;">{{totalPrice}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <form [formGroup]="information_customer" (ngSubmit)="Payment_Receipt()">
            <div class="row">
                <div class="col-lg-6">
                    <mat-radio-group aria-label="Select an option" formControlName="payment">
                        <h2>Hình thức thanh toán:</h2>
                        <mat-radio-button value="TM" checked="true">Tiền mặt</mat-radio-button>
                        <mat-radio-button value="CK">Chuyển khoản</mat-radio-button>
                        <mat-radio-button value="SC">Ship COD</mat-radio-button>
                    </mat-radio-group>
                    <br><br>
                    <h2 style="display: inline;">Người nhận:</h2>
                    <mat-form-field class="example-full-width">
                        <mat-label>Thông tin người nhận</mat-label>
                        <input matInput placeholder="Nguyễn Văn B" formControlName="customer" required>
                    </mat-form-field>
                </div>

                <div class="col-lg-6" style="text-align: right;">
                    <mat-radio-group aria-label="Select an option">
                        <br><h2>Nhân viên lập</h2><br><br><br>
                        <p>NV. Nguyễn Văn A</p>
                    </mat-radio-group>
                </div>
            </div>
            <div class="d-grid gap-2" style="margin-top: 10px;">
                <button type="submit" color="primary" class="btn" mat-raised-button>
                    Xuất hóa đơn
                </button>
            </div>
        </form>

        <div class="d-grid gap-2" style="margin-top: 10px;">
            <button type="button" color="warn" class="btn" mat-raised-button (click)="Cancel_Receipt()">
                Hủy hóa đơn
            </button>
        </div>

        <div class="row btn-pdf">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="Generate_PDF('OPEN')">
                <mat-icon>folder_open</mat-icon>
            </button>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="Generate_PDF('PRINT')">
                <mat-icon>print</mat-icon>
            </button>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="Generate_PDF('DOWNLOAD')">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </div>
    </div>
</mat-drawer-container>