.example-container {
  background-color: rgb(255, 255, 255);
}


.p-4 {
    margin: 0px !important;
    padding: 0px !important;
}

img {
    width: 3rem;
    max-height: 2.5rem;
}

h3 {
    padding: 0px;
    margin: 0px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

td, th {
    text-align: center;
    justify-content: center;
    padding: auto;
    vertical-align: middle;
}