<div class="p-4 p-md-5 mb-4 text-white rounded bg-light">
    <div class="col-md-10 px-0 text-success">
        <h1 class="display-4 fst-italic title-standee">N20 Store</h1>
        <h1 class="display-4 fst-italic specific">Chuyên cung cấp các loại mạch điện và đèn xe máy</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row g-5">
        <div class="col-md-4">
            <div class="position-sticky position-sticky" style="top: 2rem;">
                <div class="p-4">
                    <h2 class="fst-italic">Danh mục tìm kiếm</h2>
                    <div class="d-grid gap-2">
                        <button class="btn" mat-raised-button type="button">Tất cả</button>
                        <button class="btn" mat-raised-button type="button">Đèn TX10</button>
                        <button class="btn" mat-raised-button type="button">Đèn pha</button>
                        <button class="btn" mat-raised-button type="button">Đèn trợ sáng</button>
                        <button class="btn" mat-raised-button type="button">Đèn xi nhan</button>
                        <button class="btn" mat-raised-button type="button">Mạch hỗ trợ</button>
                    </div>
                </div>

                <div class="p-4" *ngIf="cart.length != 0">
                    <h2 class="fst-italic">Hóa đơn</h2>
                    <div class="d-grid gap-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let equipment of cart; let i=index">
                                    <th scope="row" class="justify-content-center">{{i + 1}}</th>
                                    <td>{{equipment.name}}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                                            <button type="button" mat-flat-button class="btn btn-descrease" (click)="Inscrease_Descrease_NumberOf(equipment, 'DESCREASE')">-</button>
                                            <button type="button" class="btn">{{equipment.numberOf}}</button>
                                            <button type="button" mat-flat-button class="btn btn-descrease" (click)="Inscrease_Descrease_NumberOf(equipment, 'INSCREASE')">+</button>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn-close" (click)="Cancel_Product_Cart(equipment)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2" style="margin-top: 10px;">
                            <button type="button" color="primary" class="btn" mat-raised-button [routerLink]="['/staff/receipt']" routerLinkActive="router-link-active">
                                Chi tiết                                
                            </button>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" color="warn" class="btn" mat-raised-button>
                                Hủy bỏ đơn hàng
                            </button>
                        </div>
                    </div>
                </div>

                <div class="p-4">
                    <h2 class="fst-italic">Thông tin liên hệ</h2>
                    <ol class="list-unstyled">
                        <li><a href="#">Gmail</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Google Map</a></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-md-8 d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center" *ngFor="let product of listProduct">
                    <div class="card" style="width: 17rem; max-height: 30rem;">
                        <img src= "{{ product.photo }}"
                            class="card-img-top" alt="Sản phẩm" width="50px">
                        <div class="card-body">
                            <h2 class="card-title">{{ product.name }}</h2>
                            <p class="card-text">Mã sản phẩm:
                                <span class="card-text" style="color: blue;">
                                    {{ product.code }}
                                </span>
                            </p>
                            <p class="card-text">Số lượng:
                                <span class="card-text" style="color: blue;">
                                    {{ product.quantity }}
                                </span>
                                &nbsp;&nbsp;
                                <span class="card-text">
                                    Kho lưu:
                                </span>
                                <span class="card-text" style="color: blue;">
                                    {{ product.storage }}
                                </span>
                            </p>
                            <p class="card-text">Đơn giá:
                                <span class="card-text" style="color: blue;">
                                    {{ product.price }}
                                </span>
                                VNĐ
                            </p>
                            <p class="card-text">Bảo hành: {{ product.warranty }} tháng</p>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-grid gap-2" style="margin-bottom: 10px;">
                                <button class="btn" mat-raised-button type="button" (click)="Add_Cart(product)">Thêm vào hóa đơn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>