.title-standee {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.specific {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    color: rgb(0, 17, 255);
} 

.content-standee {
    line-height: 2rem;
}

.row {
    margin-right: 0px !important;
}

.col {
    margin-bottom: 30px;
}

img {
    width: 16.8rem;
    max-height: 10rem;
}

input {
    border: 0px !important;
    padding-top: 0px !important;
    text-align: center; 
    width: 60px; 
    margin-top: 0px !important;
}