<div class="background">
    <div class="home-content container-fluid">
        <div class="row">
            <div class="col-lg-9 d-flex justify-content-center">
                <!-- content -->
                <div class="copy">
                    <h1>N20 Store.</h1>
                    <h3>Chuyên cung cấp các loại mạch điện và đèn xe máy.</h3>
                    <!-- <a href="/signup" class="medium-ass butt large white" data-track="signup-main" data-link-id="sohpE_signup_herobutton">Start for free</a> -->
                </div>
            </div>
            <div class="col-lg-3 policy">
                <div class="row">
                    <div class="d-grid gap-2">
                        <button mat-raised-button type="button">Sản phẩm</button>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2">
                        <button mat-raised-button type="button">Bảo hành - Đổi trả</button>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2">
                        <button mat-raised-button type="button">Thanh toán - Vận chuyển</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

